      <nav class="nav nav-pills nav-justified bg-dark">
            <a class="nav-item nav-link " routerLink="/courrier/list" routerLinkActive="active">{{"MAILING.LIST" | translate}}</a>
            <a class="nav-item nav-link" routerLink="/courrier/create" routerLinkActive="active">{{"MAILING.CREATE" | translate}}</a>
            <a class="nav-item nav-link" routerLink="/courrier/edit" routerLinkActive="active">{{"MAILING.EDIT" | translate}}</a>
        </nav>
        <router-outlet></router-outlet>
