<app-user></app-user>

<div class="row m-4">

    <div class="col-md-4  ">

        <div class="alert alert-primary" role="alert">
            User Information
        </div>

        <div class=" ">
            <label>{{"USER.USERNAME" | translate}}</label>
            <input [(ngModel)]="user.username" [placeholder]="user.username" class="form-control" type="text">
        </div>

        <div class="">
            <label>{{"USER.EMAIL" | translate}}</label>
            <input [(ngModel)]="user.email" [placeholder]="user.email" class="form-control" type="text">
        </div>


    </div>

    <div class="col-md-4  ">

        <div class="alert alert-primary" role="alert">
            Account confidentiality
        </div>

        <div class=" bg-warning mb-3">
            <i class="fa fa-warning mr-3 ml-3 text-light"></i>
            <label class="text-light">password</label>
            <button class="btn btn-link fa fa-undo float-right" (click)="initPassword()"> Reset</button>
        </div>

        <div class="mb-2">
            <label class="form-check-label">
                <input type="checkbox" [checked]="user.credentialsNonExpired" (click)="switchCredentialsNonExpired()">
                {{"USER.CREDENTIALS_NON_EXPIRED" | translate}}
            </label>
        </div>

        <div class="mb-2">
            <label class="form-check-label">
                <input type="checkbox" [checked]="user.enabled"
                       (click)="switchEnabled()"> {{"USER.ENABLED" | translate}}
            </label>
        </div>

        <div class="mb-2">
            <label class="form-check-label">
                <input type="checkbox" [checked]="user.accountNonExpired" (click)="switchAccountNonExpired()">
                {{"USER.ACCOUNT_NON_EXPIRED" | translate}}
            </label>
        </div>

        <div class="mb-2">
            <label class="form-check-label">
                <input type="checkbox" [checked]="user.accountNonLocked" (click)="switchAccountNonLocked()">
                {{"USER.ACCOUNT_NON_LOCKED" | translate}}
            </label>
        </div>


    </div>

    <div class="col-md-4 ">

        <div class="alert alert-primary" role="alert">
            User Authorities
        </div>

        <span *ngFor="let r of user.rolesVo" class="badge badge-pill badge-info m-1">{{r?.authority}}
            <span class="badge badge-pill badge-danger m-2">
                    <i class="fa fa-times" style="cursor: pointer" (click)="removeRole(r)"></i>
                </span>
        </span>

        <div class="dropdown">
            <button class="btn btn-info btn-block fa fa-plus " type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="cursor: no-drop">
                <button *ngFor="let r of roles" [disabled]="existRole(r)" (click)="addRole(r)"
                        class="dropdown-item btn">{{r?.authority}}</button>
            </div>
        </div>


    </div>
    <!--<div class="alert alert-primary" role="alert">-->
    <!--actions-->
    <!--</div>-->

    <button (click)="editUser()" class="btn btn-primary btn-block m-5 fa fa-edit m-1 "> Edit</button>


</div>
