<app-user></app-user>

<div class="container">
    <div class="row">
        <div class="col-12 my-3" id="accordion">


        </div>
    </div>
    <div class="row">
        <div class="card col-12">
            <div class="card-header bg-transparent">

                <div class="float-left px-1 row">

                    <div class="form-group col">
                        <!--<label for="Reference">Username</label>-->
                        <input type="text" [(ngModel)]="userSearch.username"
                               placeholder='{{"USER.USERNAME" | translate}}' class="form-control" id="Reference">
                    </div>


                    <div class="form-group col">
                        <!--<label for="Email">Email</label>-->
                        <input type="text" [(ngModel)]="userSearch.email" placeholder='{{"USER.EMAIL" | translate}}'
                               class="form-control" id="Email">
                    </div>

                    <div class="col text-center">
                        <label class="form-check-label">
                            <input type="checkbox" [checked]="userSearch.credentialsNonExpired"
                                   (click)="switchCredentialsNonExpired()">
                            {{"USER.CREDENTIALS_NON_EXPIRED" | translate}}
                        </label>
                    </div>

                    <div class="col text-center">
                        <label class="form-check-label">
                            <input type="checkbox" [checked]="userSearch.enabled" (click)="switchEnabled()">
                            {{"USER.ENABLED" | translate}}
                        </label>
                    </div>

                    <div class="col text-center">
                        <label class="form-check-label">
                            <input type="checkbox" [checked]="userSearch.accountNonExpired"
                                   (click)="switchAccountNonExpired()">
                            {{"USER.ACCOUNT_NON_EXPIRED" | translate}}
                        </label>
                    </div>

                    <div class="col text-center">
                        <label class="form-check-label">
                            <input type="checkbox" [checked]="userSearch.accountNonLocked"
                                   (click)="switchAccountNonLocked()">
                            {{"USER.ACCOUNT_NON_LOCKED" | translate}}
                        </label>
                    </div>

                    <div class=" m-1">
                        <button class="btn btn-outline-info btn-lg fa fa-search"
                                (click)="findUser(userSearch)"></button>
                    </div>

                    <div class=" m-1">
                        <button class="btn btn-outline-info btn-lg fa fa-repeat"
                                (click)="initSearch()"></button>
                    </div>

                </div>

            </div>
            <div class="card-body table-responsive">

                <table class="table table-hover col-md-12 text-center">
                    <thead class="thead-dark">

                    <th>{{"USER.USERNAME" | translate}}</th>
                    <th>{{"USER.EMAIL" | translate}}</th>
                    <th>{{"USER.ACCOUNT_NON_EXPIRED" | translate}}</th>
                    <th>{{"USER.ACCOUNT_NON_LOCKED" | translate}}</th>
                    <th>{{"USER.CREDENTIALS_NON_EXPIRED" | translate}}</th>
                    <th>{{"USER.ENABLED" | translate}}</th>
                    <th>{{"USER.ACTIONS" | translate}}</th>

                    </thead>
                    <tbody>
                    <tr *ngFor="let p of userListe">

                        <td>{{p.username}}</td>
                        <td>{{p.email}}</td>
                        <td>
                            <span class="badge badge-pill"
                                  [ngClass]="p.accountNonExpired? 'badge-success':'badge-danger'">{{p.accountNonExpired ? 'Yes' : 'No'}}</span>
                        </td>
                        <td>
                            <span class="badge badge-pill"
                                  [ngClass]="p.accountNonLocked? 'badge-success':'badge-danger'">{{p.accountNonLocked ? 'Yes' : 'No'}}</span>
                        </td>
                        <td>
                            <span class="badge badge-pill"
                                  [ngClass]="p.credentialsNonExpired? 'badge-success':'badge-danger'">{{p.credentialsNonExpired ? 'Yes' : 'No'}}</span>
                        </td>
                        <td>
                            <span class="badge badge-pill"
                                  [ngClass]="p.enabled? 'badge-success':'badge-danger'">{{p.enabled ? 'Yes' : 'No'}}</span>
                        </td>

                        <td>
                            <button (click)="detailShow(p)"
                                    class="btn btn-warning btn-sm fa fa-external-link mx-md-1"></button>
                            <button (click)="setUserToUpdate(p)"
                                    class="btn btn-primary btn-sm fa fa-edit mx-md-1"></button>
                            <button (click)="delete(p)" class="btn btn-danger btn-sm fa fa-trash mx-md-1"></button>
                        </td>

                    </tr>
                    <app-user-details *ngIf="userShowDetail"></app-user-details>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
