<div class="container">
    <div class="row">
        <div class="col-12 my-3" id="accordion">
            <div class="card">
                <div class="card-header border-0 bg-white" id="headingSearch">

                    <button aria-controls="search" aria-expanded="true" class="btn btn-info  btn-sm fa fa-filter"
                            data-target="#search" data-toggle="collapse">
                        <h5 class="float-right">Search Forms</h5>
                    </button>

                </div>

                <div aria-labelledby="headingSearch" class="collapse" data-parent="#accordion" id="search">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="form-row">

                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">id</small>
                                        <input [(ngModel)]="categorieModelLettreReponseSearch.id"
                                               class="form-control col-12" placeholder="id"
                                               type="text">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">libelle</small>
                                        <input [(ngModel)]="categorieModelLettreReponseSearch.libelle"
                                               class="form-control col-12" placeholder="libelle"
                                               type="text">
                                    </div>
                                    <!--                                    <div class="input-group  col-4  my-2">-->
                                    <!--                                        <div class="col-5 mx-1 px-1">-->
                                    <!--                                            <div class="p-grid ui-fluid">-->
                                    <!--                                                <small class="text-muted">createdAt Min</small>-->
                                    <!--                                                <p-calendar [(ngModel)]="categorieModelLettreReponseSearch.createdAtMin" class="p-col-12"-->
                                    <!--                                                            dateFormat="yy-mm-dd"></p-calendar>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="col-5 mx-1 px-1">-->
                                    <!--                                            <div class="p-grid ui-fluid">-->
                                    <!--                                                <small class="text-muted">createdAt Max</small>-->
                                    <!--                                                <p-calendar [(ngModel)]="categorieModelLettreReponseSearch.createdAtMax" class="p-col-12"-->
                                    <!--                                                            dateFormat="yy-mm-dd"></p-calendar>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->

                                    <!--                                    </div>-->
                                    <!--                                    <div class="input-group  col-4  my-2">-->
                                    <!--                                        <div class="col-5 mx-1 px-1">-->
                                    <!--                                            <div class="p-grid ui-fluid">-->
                                    <!--                                                <small class="text-muted">updatedAt Min</small>-->
                                    <!--                                                <p-calendar [(ngModel)]="categorieModelLettreReponseSearch.updatedAtMin" class="p-col-12"-->
                                    <!--                                                            dateFormat="yy-mm-dd"></p-calendar>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="col-5 mx-1 px-1">-->
                                    <!--                                            <div class="p-grid ui-fluid">-->
                                    <!--                                                <small class="text-muted">updatedAt Max</small>-->
                                    <!--                                                <p-calendar [(ngModel)]="categorieModelLettreReponseSearch.updatedAtMax" class="p-col-12"-->
                                    <!--                                                            dateFormat="yy-mm-dd"></p-calendar>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->

                                    <!--                                    </div>-->
                                    <!--                                    <div class="input-group  col-4 my-2">-->
                                    <!--                                        <small class="text-muted col-12">createdBy</small>-->
                                    <!--                                        <select [(ngModel)]="categorieModelLettreReponseSearch.createdByVo"-->
                                    <!--                                                class="form-control col-12">-->
                                    <!--                                            <option *ngFor="let p of createdBys" [ngValue]="p">{{p.username}}</option>-->
                                    <!--                                        </select>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="input-group  col-4 my-2">-->
                                    <!--                                        <small class="text-muted col-12">updatedBy</small>-->
                                    <!--                                        <select [(ngModel)]="categorieModelLettreReponseSearch.updatedByVo"-->
                                    <!--                                                class="form-control col-12">-->
                                    <!--                                            <option *ngFor="let p of updatedBys" [ngValue]="p">{{p.username}}</option>-->
                                    <!--                                        </select>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                            <button (click)="findCategorieModelLettreReponse(categorieModelLettreReponseSearch)"
                                    class="btn btn-info btn-sm fa fa-search float-right px-5 py-2 my-4"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12">
            <div class="card-header bg-transparent">
                <div class="float-left px-1"><h5>List of categorieModelLettreReponses. </h5></div>

                <button (click)="createShow()" class="btn btn-success btn-sm  float-right"
                        style="padding: 10px"><i class="fa  fa-plus"></i> Create a new categorieModelLettreReponse
                </button>

            </div>
            <div class="card-body table-responsive">

                <table class="table table-hover table-bordered col-md-12" style="text-align: center">
                    <thead class="thead-dark">

                    <!--          <th>id</th>-->
                    <th>libelle</th>
                    <!--          <th>createdAt</th>-->
                    <!--          <th>updatedAt</th>-->
                    <!--            <th>createdBy reference</th>-->
                    <!--            <th>updatedBy reference</th>-->
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of categorieModelLettreReponseListe">

                        <!--           <td>{{p.id}}</td>-->
                        <td>{{p.libelle}}</td>
                        <!--           <td>{{p.createdAt}}</td>-->
                        <!--           <td>{{p.updatedAt}}</td>-->
                        <!--            <td>{{p.createdByVo?.username}}</td>-->
                        <!--            <td>{{p.updatedByVo?.username}}</td>-->


                        <td>
                            <button (click)="delete(p)" class="btn btn-danger btn-sm fa fa-trash mx-md-1"></button>
                            <button (click)="detailShow(p)"
                                    class="btn btn-warning btn-sm fa fa-external-link mx-md-1"></button>
                            <button (click)="editShow(p)" class="btn btn-info btn-sm fa fa-pencil mx-md-1"></button>


                        </td>

                    </tr>
                    <app-categorieModelLettreReponse-edit
                            *ngIf="categorieModelLettreReponseShowEdit"></app-categorieModelLettreReponse-edit>
                    <app-categorieModelLettreReponse-create
                            *ngIf="categorieModelLettreReponseShowCreate"></app-categorieModelLettreReponse-create>
                    <app-categorieModelLettreReponse-details
                            *ngIf="categorieModelLettreReponseShowDetail"></app-categorieModelLettreReponse-details>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
