<app-user></app-user>


<div class="card m-3">

    <div class="row">

        <div class="col-md-5 ">

            <div class="m-1">
                <label>{{"USER.EMAIL" | translate}}</label>
                <input type="text" class="form-control" [(ngModel)]="user.email">
            </div>

            <div class="m-1">
                <label>{{"USER.USERNAME" | translate}}</label>
                <input type="text" class="form-control" [(ngModel)]="user.username">
            </div>



            <div class="m-1">
                <label>{{"USER.SERVICE" | translate}}</label>
                <p-dropdown styleClass="form-control" [showClear]="true"
                            placeholder="--------------------" selectId="leService" [options]="leServices"
                            [(ngModel)]="user.leServiceVo" optionLabel="title" [filter]="true"
                            dataKey="id"></p-dropdown>
            </div>
            <br>

        </div>
        <div class="col-md-7">
            <strong class="m-2">
                Pick authorities
            </strong>
            <ul class="list-group m-1 text-center">
                <li style="cursor: pointer" *ngFor="let item of roles" (click)="addRole(item)"
                    class=" list-group-item list-group-item-action">{{item.authority}}</li>
            </ul>
        </div>

    </div>
    <button class="btn btn-info fa fa-check m-5" (click)="saveUser()"> Save</button>

</div>


<!--<div class="card col-md-8 mx-auto  p-md-2">-->
<!--<div class="card-header text-center font-weight-bold">Create Users</div>-->
<!--<div class="card-body">-->

<!--&lt;!&ndash;<div class="row py-2">&ndash;&gt;-->
<!--&lt;!&ndash;<label>email</label>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" class="form-control" [(ngModel)]="user.email">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;<div class="row py-2">&ndash;&gt;-->
<!--&lt;!&ndash;<label>username</label>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" class="form-control" [(ngModel)]="user.username">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--<div class="card row">-->
<!--<div class="card-header">Add roles</div>-->
<!--<div class="card-body">-->
<!--<div class="row">-->

<!--<div class="form-group">-->
<!--<label for="Authority">Authority</label>-->
<!--<select class="form-control" id="Authority" [(ngModel)]="role.authority">-->
<!--<option *ngFor="let item of roles" [ngValue]="item.authority" value="{{item.authority}}">-->
<!--{{item.authority}}-->
<!--</option>-->
<!--</select>-->
<!--</div>-->

<!--</div>-->
<!--<div class="card-footer">-->
<!--<button class="btn btn-outline-danger btn-block" (click)="addRole()">+</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card row table-responsive">-->
<!--<div class="card-header">Added roles</div>-->
<!--<div class="card-body">-->
<!--<table class="table table-hover table-striped">-->
<!--<thead>-->

<!--<th>authority</th>-->


<!--<th>Delete</th>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr *ngFor="let p of user.rolesVo;let i = index">-->

<!--<td>{{p.authority}}</td>-->

<!--<td>-->
<!--<button class="btn btn-dark fa fa-trash" (click)="removeRole(i)"></button>-->
<!--</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--<div class="modal-footer">-->
<!--<button class="form-control" (click)="saveUser()">Save</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
