<app-expeditor></app-expeditor>

<div class="container">
    <div class="row">
        <div class="col-12 my-3" id="accordion">
            <div class="card">
                <div class="card-header border-0 bg-white" id="headingSearch">

                    <button aria-controls="search" aria-expanded="true" class="btn btn-info  btn-sm fa fa-filter"
                            data-target="#search" data-toggle="collapse">
                        <h5 class="float-right">Search Forms</h5>
                    </button>

                </div>

                <div aria-labelledby="headingSearch" class="collapse" data-parent="#accordion" id="search">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="form-row">

                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">id</small>
                                        <input [(ngModel)]="expeditorSearch.id" class="form-control col-12"
                                               placeholder="id"
                                               type="text">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">title</small>
                                        <input [(ngModel)]="expeditorSearch.title" class="form-control col-12"
                                               placeholder="title"
                                               type="text">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">titleArab</small>
                                        <input [(ngModel)]="expeditorSearch.titleArab" class="form-control col-12"
                                               placeholder="titleArab"
                                               type="text">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">code</small>
                                        <input [(ngModel)]="expeditorSearch.code" class="form-control col-12"
                                               placeholder="code"
                                               type="text">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">description</small>
                                        <input [(ngModel)]="expeditorSearch.description" class="form-control col-12"
                                               placeholder="description"
                                               type="text">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">Type</small>
                                        <input [(ngModel)]="expeditorSearch.expeditorTypeVo.title"
                                               class="form-control col-12"
                                               placeholder="Type"
                                               type="text">
                                    </div>
                                    <div class="input-group  col-4  my-2">
                                        <div class="col-5  mx-1 px-1">
                                            <small class="text-muted">age Min</small>
                                            <input [(ngModel)]="expeditorSearch.ageMin" class="form-control"
                                                   placeholder="Min age"
                                                   type="text">
                                        </div>
                                        <div class="col-5  mx-1 px-1 ">
                                            <small class="text-muted">age Min</small>
                                            <input [(ngModel)]="expeditorSearch.ageMax" class="form-control"
                                                   placeholder="Max age"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="input-group  col-4 my-2">
                                        <small class="text-muted col-12">sexe</small>
                                        <select [(ngModel)]="expeditorSearch.sexeVo" class="form-control col-12">
                                            <option *ngFor="let p of sexes" [ngValue]="p">{{p.libelle}}</option>
                                        </select>
                                    </div>
                                    <div class="input-group  col-4 my-2">
                                        <small class="text-muted col-12">nationality</small>
                                        <select [(ngModel)]="expeditorSearch.nationalityVo" class="form-control col-12">
                                            <option *ngFor="let p of nationalitys" [ngValue]="p">{{p.libelle}}</option>
                                        </select>
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">adress</small>
                                        <input [(ngModel)]="expeditorSearch.adress" class="form-control col-12"
                                               placeholder="adress"
                                               type="text">
                                    </div>
                                    <!--                                    <div class="input-group  col-4  my-2">-->
                                    <!--                                        <div class="col-5 mx-1 px-1">-->
                                    <!--                                            <div class="p-grid ui-fluid">-->
                                    <!--                                                <small class="text-muted">createdAt Min</small>-->
                                    <!--                                                <p-calendar [(ngModel)]="expeditorSearch.createdAtMin" class="p-col-12"-->
                                    <!--                                                            dateFormat="yy-mm-dd"></p-calendar>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="col-5 mx-1 px-1">-->
                                    <!--                                            <div class="p-grid ui-fluid">-->
                                    <!--                                                <small class="text-muted">createdAt Max</small>-->
                                    <!--                                                <p-calendar [(ngModel)]="expeditorSearch.createdAtMax" class="p-col-12"-->
                                    <!--                                                            dateFormat="yy-mm-dd"></p-calendar>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->

                                    <!--                                    </div>-->
                                    <!--                                    <div class="input-group  col-4  my-2">-->
                                    <!--                                        <div class="col-5 mx-1 px-1">-->
                                    <!--                                            <div class="p-grid ui-fluid">-->
                                    <!--                                                <small class="text-muted">updatedAt Min</small>-->
                                    <!--                                                <p-calendar [(ngModel)]="expeditorSearch.updatedAtMin" class="p-col-12"-->
                                    <!--                                                            dateFormat="yy-mm-dd"></p-calendar>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="col-5 mx-1 px-1">-->
                                    <!--                                            <div class="p-grid ui-fluid">-->
                                    <!--                                                <small class="text-muted">updatedAt Max</small>-->
                                    <!--                                                <p-calendar [(ngModel)]="expeditorSearch.updatedAtMax" class="p-col-12"-->
                                    <!--                                                            dateFormat="yy-mm-dd"></p-calendar>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->

                                    <!--                                    </div>-->
                                    <!--                                    <div class="input-group  col-4 my-2">-->
                                    <!--                                        <small class="text-muted col-12">createdBy</small>-->
                                    <!--                                        <select [(ngModel)]="expeditorSearch.createdByVo" class="form-control col-12">-->
                                    <!--                                            <option *ngFor="let p of createdBys" [ngValue]="p">{{p.username}}</option>-->
                                    <!--                                        </select>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="input-group  col-4 my-2">-->
                                    <!--                                        <small class="text-muted col-12">updatedBy</small>-->
                                    <!--                                        <select [(ngModel)]="expeditorSearch.updatedByVo" class="form-control col-12">-->
                                    <!--                                            <option *ngFor="let p of updatedBys" [ngValue]="p">{{p.username}}</option>-->
                                    <!--                                        </select>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                            <button (click)="findExpeditor(expeditorSearch)"
                                    class="btn btn-info btn-sm fa fa-search float-right px-5 py-2 my-4"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12">
            <div class="card-header bg-transparent">
                <div class="float-left px-1"><h5>List of expeditors. </h5></div>

            </div>
            <div class="card-body table-responsive">

                <table class="table table-hover col-md-12">
                    <thead class="thead-dark">

                    <th>id</th>
                    <th>title</th>
                    <th>titleArab</th>
                    <th>code</th>
                    <th>description</th>
                    <th>Type</th>
                    <th>age</th>
                    <th>sexe reference</th>
                    <th>nationality reference</th>
                    <th>adress</th>
                    <!--                    <th>createdAt</th>-->
                    <!--                    <th>updatedAt</th>-->
                    <!--                    <th>createdBy reference</th>-->
                    <!--                    <th>updatedBy reference</th>-->
                    <th>Actions</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of expeditorListe">

                        <td>{{p.id}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.titleArab}}</td>
                        <td>{{p.code}}</td>
                        <td>{{p.description}}</td>
                        <td>{{p.expeditorTypeVo?.title}}</td>
                        <td>{{p.age}}</td>
                        <td>{{p.sexeVo?.libelle}}</td>
                        <td>{{p.nationalityVo?.libelle}}</td>
                        <td>{{p.adress}}</td>
                        <!--                        <td>{{p.createdAt}}</td>-->
                        <!--                        <td>{{p.updatedAt}}</td>-->
                        <!--                        <td>{{p.createdByVo?.username}}</td>-->
                        <!--                        <td>{{p.updatedByVo?.username}}</td>-->


                        <td>
                            <button (click)="delete(p)" class="btn btn-danger btn-sm fa fa-trash mx-md-1"></button>
                            <button (click)="detailShow(p)"
                                    class="btn btn-warning btn-sm fa fa-external-link mx-md-1"></button>


                        </td>

                    </tr>
                    <app-expeditor-details *ngIf="expeditorShowDetail"></app-expeditor-details>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
