     <app-expeditor></app-expeditor>

<div class="container">
  <div class="row">
    <div id="accordion" class="col-12 my-3">
      <div class="card">
        <div class="card-header border-0 bg-white" id="headingSearch">
          
            <button class="btn btn-info  btn-sm fa fa-filter" data-toggle="collapse" data-target="#search" aria-expanded="true" aria-controls="search">
              <h5 class="float-right">Search Forms</h5>
            </button>
         
        </div>

        <div id="search" class="collapse" aria-labelledby="headingSearch" data-parent="#accordion">
          <div class="card-body">
            <div class="container">
              <div class = "row">
               <div class="form-row">
   
              <div class="input-group  col-3  my-2">
<small class="text-muted col-12">id</small>
<input type="text" class="form-control col-12" placeholder="id" [(ngModel)]="expeditorSearch.id">
             </div>
              <div class="input-group  col-3  my-2">
<small class="text-muted col-12">title</small>
<input type="text" class="form-control col-12" placeholder="title" [(ngModel)]="expeditorSearch.title">
             </div>
              <div class="input-group  col-3  my-2">
<small class="text-muted col-12">titleArab</small>
<input type="text" class="form-control col-12" placeholder="titleArab" [(ngModel)]="expeditorSearch.titleArab">
             </div>
              <div class="input-group  col-3  my-2">
<small class="text-muted col-12">code</small>
<input type="text" class="form-control col-12" placeholder="code" [(ngModel)]="expeditorSearch.code">
             </div>
              <div class="input-group  col-3  my-2">
<small class="text-muted col-12">description</small>
<input type="text" class="form-control col-12" placeholder="description" [(ngModel)]="expeditorSearch.description">
             </div>
              <div class="input-group  col-3  my-2">
<small class="text-muted col-12">nature</small>
<input type="text" class="form-control col-12" placeholder="nature" [(ngModel)]="expeditorSearch.nature">
             </div>
              <div class="input-group  col-4  my-2">
    <div class="col-5  mx-1 px-1">
      <small class="text-muted">age Min</small>
      <input type="text" class="form-control" placeholder="Min age" [(ngModel)]="expeditorSearch.ageMin">
    </div>
    <div class="col-5  mx-1 px-1 ">
      <small class="text-muted">age Min</small>
      <input type="text" class="form-control" placeholder="Max age" [(ngModel)]="expeditorSearch.ageMax">
    </div>
             </div>
                <div class="input-group  col-4 my-2">
                   <small class="text-muted col-12">sexe</small>
                    <select class="form-control col-12" [(ngModel)]="expeditorSearch.sexeVo" >
                        <option *ngFor="let p of sexes" [ngValue]="p" >{{p.libelle}}</option>
                    </select>
                 </div>
                <div class="input-group  col-4 my-2">
                   <small class="text-muted col-12">nationality</small>
                    <select class="form-control col-12" [(ngModel)]="expeditorSearch.nationalityVo" >
                        <option *ngFor="let p of nationalitys" [ngValue]="p" >{{p.libelle}}</option>
                    </select>
                 </div>
              <div class="input-group  col-3  my-2">
<small class="text-muted col-12">adress</small>
<input type="text" class="form-control col-12" placeholder="adress" [(ngModel)]="expeditorSearch.adress">
             </div>
              <div class="input-group  col-4  my-2">
    <div class="col-5 mx-1 px-1">
                    <div class="p-grid ui-fluid">
                        <small class="text-muted">createdAt Min</small>
                        <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)] = "expeditorSearch.createdAtMin"></p-calendar>
                    </div>
    </div>
    <div class="col-5 mx-1 px-1">
                    <div class="p-grid ui-fluid">
                        <small class="text-muted">createdAt Max</small>
                        <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)] = "expeditorSearch.createdAtMax"></p-calendar>
                    </div>
    </div>

             </div>
              <div class="input-group  col-4  my-2">
    <div class="col-5 mx-1 px-1">
                    <div class="p-grid ui-fluid">
                        <small class="text-muted">updatedAt Min</small>
                        <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)] = "expeditorSearch.updatedAtMin"></p-calendar>
                    </div>
    </div>
    <div class="col-5 mx-1 px-1">
                    <div class="p-grid ui-fluid">
                        <small class="text-muted">updatedAt Max</small>
                        <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)] = "expeditorSearch.updatedAtMax"></p-calendar>
                    </div>
    </div>

             </div>
                <div class="input-group  col-4 my-2">
                   <small class="text-muted col-12">createdBy</small>
                    <select class="form-control col-12" [(ngModel)]="expeditorSearch.createdByVo" >
                        <option *ngFor="let p of createdBys" [ngValue]="p" >{{p.username}}</option>
                    </select>
                 </div>
                <div class="input-group  col-4 my-2">
                   <small class="text-muted col-12">updatedBy</small>
                    <select class="form-control col-12" [(ngModel)]="expeditorSearch.updatedByVo" >
                        <option *ngFor="let p of updatedBys" [ngValue]="p" >{{p.username}}</option>
                    </select>
                 </div>
              </div>    
          </div>
           <button class="btn btn-info btn-sm fa fa-search float-right px-5 py-2 my-4" (click)="findExpeditor(expeditorSearch)"></button>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
<div class="row">
  <div class="card col-12">
    <div class="card-header bg-transparent">
    <div class="float-left px-1"> <h5>List of expeditors. </h5></div>

    </div>
    <div class="card-body table-responsive">

      <table class="table table-hover col-md-12">
        <thead class="thead-dark">

          <th>id</th>
          <th>title</th>
          <th>titleArab</th>
          <th>code</th>
          <th>description</th>
          <th>nature</th>
          <th>age</th>
            <th>sexe reference</th>
            <th>nationality reference</th>
          <th>adress</th>
          <th>createdAt</th>
          <th>updatedAt</th>
            <th>createdBy reference</th>
            <th>updatedBy reference</th>
     <th>Actions</th>
  </thead>
  <tbody>
  <tr *ngFor="let p of expeditorListe">

           <td>{{p.id}}</td>
           <td>{{p.title}}</td>
           <td>{{p.titleArab}}</td>
           <td>{{p.code}}</td>
           <td>{{p.description}}</td>
           <td>{{p.nature}}</td>
           <td>{{p.age}}</td>
            <td>{{p.sexeVo?.libelle}}</td>
            <td>{{p.nationalityVo?.libelle}}</td>
           <td>{{p.adress}}</td>
           <td>{{p.createdAt}}</td>
           <td>{{p.updatedAt}}</td>
            <td>{{p.createdByVo?.username}}</td>
            <td>{{p.updatedByVo?.username}}</td>
 

<td><button class="btn btn-danger btn-sm fa fa-trash mx-md-1" (click)="delete(p)"></button>
  <button class="btn btn-warning btn-sm fa fa-external-link mx-md-1" (click)="detailShow(p)"></button>
  

</td>

</tr>
<app-expeditor-details *ngIf="expeditorShowDetail"></app-expeditor-details>
</tbody>
</table>
</div>
</div>
</div>
</div>
