<!--<mat-card class="text-center">-->
<!--<mat-card-header >-->
<!--<mat-card-title >Login</mat-card-title>-->

<!--</mat-card-header>-->
<!--<hr>-->
<!--<mat-card-content>-->

<!--<mat-form-field class="example-form-field">-->
<!--<mat-label>Username</mat-label>-->
<!--<input matInput type="text" [(ngModel)]="userCandidat.username">-->
<!--<button mat-button *ngIf="userCandidat.username" matSuffix mat-icon-button aria-label="Clear" (click)="userCandidat.username=''">-->
<!--<mat-icon>close</mat-icon>-->
<!--</button>-->
<!--</mat-form-field>-->

<!--<mat-form-field class="example-form-field">-->
<!--<mat-label>Password</mat-label>-->
<!--<input matInput type="password" [(ngModel)]="userCandidat.password">-->
<!--<button mat-button *ngIf="userCandidat.password" matSuffix mat-icon-button aria-label="Clear" (click)="userCandidat.password=''">-->
<!--<mat-icon>close</mat-icon>-->
<!--</button>-->
<!--</mat-form-field>-->

<!--</mat-card-content>-->

<!--<mat-card-actions>-->
<!--<button class="btn btn-sm btn-block btn-outline-info" (click)="login()">Connexion</button>-->
<!--</mat-card-actions>-->
<!--</mat-card>-->

<div class="pos">
    <div class="text-center mb-3">
        <img src="assets/images/ormvah.png">
    </div>
    <div>


        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">username</span>
            </div>
            <input [(ngModel)]="userCandidat.username" aria-describedby="basic-addon1" aria-label="Username" class="form-control"
                   type="text">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon">password</span>
            </div>
            <input [(ngModel)]="userCandidat.password" aria-describedby="basic-addon" aria-label="Username" class="form-control"
                   type="password">
        </div>


        <button (click)="login()" class="btn btn-sm btn-block btn-outline-success">Connexion</button>
    </div>
</div>


