<div class="modal" role="dialog" style="display: block;background-color: #000000bf;" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">edit Sexe </h5>
                <button (click)="editHide()" aria-label="Close" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card col-md-12 mx-auto  p-md-2">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 py-2">
                                <label>libelle</label>
                                <input [(ngModel)]="sexe.libelle" [placeholder]="sexe.libelle" class="form-control"
                                       type="text">
                            </div>
                            <div class="col-md-6 py-2">
                                <label>libelleArab</label>
                                <input [(ngModel)]="sexe.libelleArab" [placeholder]="sexe.libelleArab" class="form-control"
                                       type="text">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button (click)="editSexe()" class="form-control">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
