<app-modelLettreReponse></app-modelLettreReponse>
<div class="card col-md-10 mx-auto  p-md-2">
    <div class="card-header text-center font-weight-bold">Create ModelLettreReponses</div>
    <div class="card-body">
        <!--        <div class="row">-->
        <!--            <div class="col-md-6 p-grid ui-fluid">-->
        <!--                <label>createdAt</label> <br>-->
        <!--                <p-calendar [(ngModel)]="modelLettreReponse.createdAt" class="p-col-12"-->
        <!--                            dateFormat="yy-mm-dd"></p-calendar>-->
        <!--            </div>-->
        <!--            <div class="col-md-6 p-grid ui-fluid">-->
        <!--                <label>updatedAt</label><br>-->
        <!--                <p-calendar [(ngModel)]="modelLettreReponse.updatedAt" class="p-col-12"-->
        <!--                            dateFormat="yy-mm-dd"></p-calendar>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <br>-->
        <div class="row">
            <div class="col-md-6">
                <label>libelleArab</label>
                <input [(ngModel)]="modelLettreReponse.libelleArab" class="form-control" type="text">

            </div>
            <div class="col-md-6">
                <label>code</label>
                <input [(ngModel)]="modelLettreReponse.code" class="form-control" type="text">

            </div>
        </div>
        <br>
        <div class="row py-2">
            <label>chemin : </label>
            <br>
            <input type="file">
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <label>libelle</label>
                <input [(ngModel)]="modelLettreReponse.libelle" class="form-control" type="text">

            </div>
            <div class="col-md-6">
                <label>categorieModelLettreReponse</label>
                <select [(ngModel)]="modelLettreReponse.categorieModelLettreReponseVo.libelle" class="form-control">
                    <option *ngFor="let p of categorieModelLettreReponses" [ngValue]="p.libelle"
                            value="{{p.libelle}}">{{p.libelle}}</option>
                </select>
            </div>
        </div>
        <br>
        <!--        <div class="row">-->
        <!--            <div class="col-md-6">-->
        <!--                <label>createdBy</label>-->
        <!--                <select [(ngModel)]="modelLettreReponse.createdByVo.username" class="form-control">-->
        <!--                    <option *ngFor="let p of createdBys" [ngValue]="p.username"-->
        <!--                            value="{{p.username}}">{{p.username}}</option>-->
        <!--                </select>-->
        <!--            </div>-->
        <!--            <div class="col-md-6">-->
        <!--                <label>updatedBy</label>-->
        <!--                <select [(ngModel)]="modelLettreReponse.updatedByVo.username" class="form-control">-->
        <!--                    <option *ngFor="let p of updatedBys" [ngValue]="p.username"-->
        <!--                            value="{{p.username}}">{{p.username}}</option>-->
        <!--                </select>-->
        <!--            </div>-->
        <!--        </div>-->
        <br>
        <div style="text-align: center">
            <button (click)="saveModelLettreReponse()" class="btn btn-outline-info" style="width: 60%">Save</button>
        </div>
    </div>
</div>
