<app-expeditor></app-expeditor>
<div class="card col-md-8 mx-auto  p-md-2">
    <div class="card-header text-center font-weight-bold">Create Expeditors</div>
    <div class="card-body">

        <div class="row py-2">
            <label>adress</label>
            <input [(ngModel)]="expeditor.adress" class="form-control" type="text">
        </div>
        <!--        <div class="row py-2">-->
        <!--            <div class="p-grid ui-fluid">-->
        <!--                <label>createdAt</label>-->
        <!--                <p-calendar [(ngModel)]="expeditor.createdAt" class="p-col-12" dateFormat="yy-mm-dd"></p-calendar>-->
        <!--            </div>-->
        <!--        </div>-->
        <!--        <div class="row py-2">-->
        <!--            <div class="p-grid ui-fluid">-->
        <!--                <label>updatedAt</label>-->
        <!--                <p-calendar [(ngModel)]="expeditor.updatedAt" class="p-col-12" dateFormat="yy-mm-dd"></p-calendar>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="row py-2">
            <label>code</label>
            <input [(ngModel)]="expeditor.code" class="form-control" type="text">
        </div>
        <div class="row py-2">
            <label>description</label>
            <input [(ngModel)]="expeditor.description" class="form-control" type="text">
        </div>
        <div class="row py-2">
            <label>Type</label>

        </div>
        <div class="row py-2">
            <label>age</label>
            <input [(ngModel)]="expeditor.age" class="form-control" type="text">
        </div>
        <div class="row py-2">
            <label>title</label>
            <input [(ngModel)]="expeditor.title" class="form-control" type="text">
        </div>
        <div class="row py-2">
            <label>titleArab</label>
            <input [(ngModel)]="expeditor.titleArab" class="form-control" type="text">
        </div>

        <div class="row">
            <label>sexe</label>
            <select [(ngModel)]="expeditor.sexeVo.libelle" class="form-control">
                <option *ngFor="let p of sexes" [ngValue]="p.libelle" value="{{p.libelle}}">{{p.libelle}}</option>
            </select>
        </div>
        <div class="row">
            <label>nationality</label>
            <select [(ngModel)]="expeditor.nationalityVo.libelle" class="form-control">
                <option *ngFor="let p of nationalitys" [ngValue]="p.libelle"
                        value="{{p.libelle}}">{{p.libelle}}</option>
            </select>
        </div>
        <!--        <div class="row">-->
        <!--            <label>createdBy</label>-->
        <!--            <select [(ngModel)]="expeditor.createdByVo.username" class="form-control">-->
        <!--                <option *ngFor="let p of createdBys" [ngValue]="p.username"-->
        <!--                        value="{{p.username}}">{{p.username}}</option>-->
        <!--            </select>-->
        <!--        </div>-->
        <!--        <div class="row">-->
        <!--            <label>updatedBy</label>-->
        <!--            <select [(ngModel)]="expeditor.updatedByVo.username" class="form-control">-->
        <!--                <option *ngFor="let p of updatedBys" [ngValue]="p.username"-->
        <!--                        value="{{p.username}}">{{p.username}}</option>-->
        <!--            </select>-->
        <!--        </div>-->
        <div class="modal-footer">
            <button (click)="saveExpeditor()" class="form-control">Save</button>
        </div>
    </div>
</div>
