<div class="modal" role="dialog" style="display: block;background-color: #000000bf;" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{"MAILING_OBJECT.CREATE_OBJECT" | translate}}</h5>
                <button (click)="createHide()" aria-label="Close" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card col-md-12 mx-auto  p-md-2">

                    <div class="card-body">
                        <div class="row">
                            <!--                            <div class="col-md-6 py-2">-->
                            <!--                                <div class="p-grid ui-fluid">-->
                            <!--                                    <label>createdAt</label>-->
                            <!--                                    <p-calendar [(ngModel)]="courrierObject.createdAt" class="p-col-12"-->
                            <!--                                                dateFormat="yy-mm-dd"></p-calendar>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="col-md-6 py-2">-->
                            <!--                                <div class="p-grid ui-fluid">-->
                            <!--                                    <label>updatedAt</label>-->
                            <!--                                    <p-calendar [(ngModel)]="courrierObject.updatedAt" class="p-col-12"-->
                            <!--                                                dateFormat="yy-mm-dd"></p-calendar>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div class="col-md-6 py-2">
                                <label>{{"MAILING_OBJECT.ARAB_TITLE" | translate}}</label>
                                <input [(ngModel)]="courrierObject.titleArab" class="form-control" type="text"
                                       placeholder="{{'MAILING_OBJECT.ARAB_TITLE' | translate}}">
                            </div>
                            <div class="col-md-6 py-2">
                                <label>{{"MAILING_OBJECT.CODE" | translate}}</label>
                                <input [(ngModel)]="courrierObject.code" class="form-control" type="text"
                                       placeholder="{{'MAILING_OBJECT.CODE' | translate}}">
                            </div>
                            <div class="col-md-6 py-2">
                                <label>{{"MAILING_OBJECT.TITLE" | translate}}</label>
                                <input [(ngModel)]="courrierObject.title" class="form-control" type="text"
                                       placeholder="{{'MAILING_OBJECT.TITLE' | translate}}">
                            </div>
                        </div>
                        <!--                        <div class="row">-->
                        <!--                            <label>createdBy</label>-->
                        <!--                            <select [(ngModel)]="courrierObject.createdByVo.username" class="form-control">-->
                        <!--                                <option *ngFor="let p of createdBys" [ngValue]="p.username"-->
                        <!--                                        value="{{p.username}}">{{p.username}}</option>-->
                        <!--                            </select>-->
                        <!--                        </div>-->
                        <!--                        <div class="row">-->
                        <!--                            <label>updatedBy</label>-->
                        <!--                            <select [(ngModel)]="courrierObject.updatedByVo.username" class="form-control">-->
                        <!--                                <option *ngFor="let p of updatedBys" [ngValue]="p.username"-->
                        <!--                                        value="{{p.username}}">{{p.username}}</option>-->
                        <!--                            </select>-->
                        <!--                        </div>-->
                        <div class="modal-footer">
                            <button (click)="saveCourrierObject()"
                                    class="form-control">{{"COMMONS.SAVE" | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>