<app-natureCourrier></app-natureCourrier>
<div class="card col-md-8 mx-auto  p-md-2">
    <div class="card-header text-center font-weight-bold">Edit NatureCourriers</div>
    <div class="card-body">
        <div class="row my-1 ">
            <label>Available NatureCourriers</label>
            <select (click)="findBylibelle(natureCourrier.libelle)" [(ngModel)]="natureCourrier.libelle"
                    class="form-control">
                <option *ngFor="let p of editableNatureCourriers" [ngValue]="p.libelle"
                        value="{{p.libelle}}">{{p.libelle}}</option>
            </select>
        </div>

        <div class="row py-2">
            <label>code</label>
            <input [(ngModel)]="natureCourrier.code" [placeholder]="natureCourrier.code" class="form-control"
                   type="text">
        </div>
<!--        <div class="row py-2">-->
<!--            <label>createdAt</label>-->
<!--            <input [(ngModel)]="natureCourrier.createdAt" class="col-md-12" type="date">-->
<!--        </div>-->
<!--        <div class="row py-2">-->
<!--            <label>updatedAt</label>-->
<!--            <input [(ngModel)]="natureCourrier.updatedAt" class="col-md-12" type="date">-->
<!--        </div>-->
        <div class="row py-2">
            <label>delai</label>
            <input [(ngModel)]="natureCourrier.delai" [placeholder]="natureCourrier.delai" class="form-control"
                   type="text">
        </div>
        <div class="row py-2">
            <label>relance</label>
            <input [(ngModel)]="natureCourrier.relance" [placeholder]="natureCourrier.relance" class="form-control"
                   type="text">
        </div>
        <div class="row py-2">
            <label>libelleArab</label>
            <input [(ngModel)]="natureCourrier.libelleArab" [placeholder]="natureCourrier.libelleArab" class="form-control"
                   type="text">
        </div>
        <div class="row py-2">
            <label>libelle</label>
            <input [(ngModel)]="natureCourrier.libelle" [placeholder]="natureCourrier.libelle" class="form-control"
                   type="text">
        </div>

<!--        <div class="row m-md-2 p-md-1">-->
<!--            <label>createdBy</label>-->
<!--            <select [(ngModel)]="natureCourrier.createdByVo.username" class="form-control">-->
<!--                <option *ngFor="let p of createdBys" [ngValue]="p.username"-->
<!--                        value="{{p.username}}">{{p.username}}</option>-->
<!--            </select>-->
<!--        </div>-->
<!--        <div class="row m-md-2 p-md-1">-->
<!--            <label>updatedBy</label>-->
<!--            <select [(ngModel)]="natureCourrier.updatedByVo.username" class="form-control">-->
<!--                <option *ngFor="let p of updatedBys" [ngValue]="p.username"-->
<!--                        value="{{p.username}}">{{p.username}}</option>-->
<!--            </select>-->
<!--        </div>-->
        <div class="card-footer">
            <button (click)="editNatureCourrier()" class="form-control">Edit</button>
        </div>
    </div>
</div>
