<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">edit CategorieModelLettreReponse </h5>
        <button type="button" class="close" aria-label="Close" (click)="editHide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="card col-md-12 mx-auto  p-md-2">
   
    <div class="card-body">
        <div class="row">
                <div class="col-md-6 py-2">
                        <label>updatedAt</label>
                        <input type="date" class="col-md-12" [(ngModel)] = "categorieModelLettreReponse.updatedAt">
                </div>
                <div class="col-md-6 py-2">
                    <label>libelle</label>
                    <input type="text" class="form-control" [placeholder]="categorieModelLettreReponse.libelle" [(ngModel)] = "categorieModelLettreReponse.libelle">
                </div>
                <div class="col-md-6 py-2">
                        <label>createdAt</label>
                        <input type="date" class="col-md-12" [(ngModel)] = "categorieModelLettreReponse.createdAt">
                </div>
            </div>
                <div class="row m-md-2 p-md-1" >
                    <label>updatedBy</label>
                    <select class="form-control" [(ngModel)]="categorieModelLettreReponse.updatedByVo.username" >
                        <option *ngFor="let p of updatedBys" [ngValue]="p.username" value="{{p.username}}">{{p.username}}</option>
                    </select>
                </div>
                <div class="row m-md-2 p-md-1" >
                    <label>createdBy</label>
                    <select class="form-control" [(ngModel)]="categorieModelLettreReponse.createdByVo.username" >
                        <option *ngFor="let p of createdBys" [ngValue]="p.username" value="{{p.username}}">{{p.username}}</option>
                    </select>
                </div>
        <div class="card-footer" >
            <button class="form-control" (click)="editCategorieModelLettreReponse()" >Edit</button>
        </div>
    </div>
</div>
       </div>
	   </div>
	   </div>
	   </div>
