<div class="modal" role="dialog" style="display: block;background-color: #000000bf;" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{"MAILING.RESERVE_MAILING" | translate}}</h5>
                <button (click)="reservationHide()" aria-label="Close" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card row ">

                    <div class="card-body">
                        <div class="row">


                            <div class="form-group col-md-7">
                                <div class="input-group mb-1">
                                    <div class="input-group-prepend">
                                        <button (click)="generateId()" class="btn btn-outline-primary"
                                                type="button">{{"MAILING.GENERATE" | translate}}</button>
                                    </div>
                                    <input [(ngModel)]="generatedId" class="form-control"
                                           placeholder="idCourier xxx_year"
                                           type="text">
                                </div>
                            </div>

                            <div class="form-group col-md-5">
                                <input [(ngModel)]="nbr" class="form-control" placeholder="nombre des couriers"
                                       type="text">
                            </div>

                            <button (click)="reserve()"
                                    class="btn btn-outline-primary btn-block -align-center">{{"MAILING.RESERVE" | translate}}</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>