<div class="modal" role="dialog" style="display: block;background-color: #000000bf;" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">details of Courrier </h5>
                <button (click)="detailHide()" aria-label="Close" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <th>{{"MAILING.FIELD" | translate}}</th>
                    <th>{{"MAILING.VALUE" | translate}}</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{"MAILING.ID" | translate}}</td>
                        <td>{{courrierDetail.id}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.MAILING_ID" | translate}}</td>
                        <td>{{courrierDetail.idCourrier}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.SUBJECT" | translate}}</td>
                        <td>{{courrierDetail.subject}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.DESCRIPTION" | translate}}</td>
                        <td>{{courrierDetail.description}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.CREATED_AT" | translate}}</td>
                        <td>{{courrierDetail.createdAt}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.UPDATED_AT" | translate}}</td>
                        <td>{{courrierDetail.updatedAt}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.CREATED_BY" | translate}}</td>
                        <td>{{courrierDetail.createdByVo.username}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.UPDATED_BY" | translate}}</td>
                        <td>{{courrierDetail.updatedByVo.username}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.TIME_LIMIT" | translate}}</td>
                        <td>{{courrierDetail.delai}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.BOOST" | translate}}</td>
                        <td>{{courrierDetail.relance}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.BOOST_DATE" | translate}}</td>
                        <td>{{courrierDetail.dateRelance}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.ACCUSED" | translate}}</td>
                        <td>{{courrierDetail.accuse}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.RESPONSE" | translate}}</td>
                        <td>{{courrierDetail.reponse}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.DATE_ACCUSED" | translate}}</td>
                        <td>{{courrierDetail.dateAccuse}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.RESPONSE_DATE" | translate}}</td>
                        <td>{{courrierDetail.dateReponse}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.STATUS" | translate}}</td>
                        <td>{{courrierDetail.statusVo.libelle}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.TYPE" | translate}}</td>
                        <td>{{courrierDetail.typeCourrierVo.libelle}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.RECEIVED_AT" | translate}}</td>
                        <td>{{courrierDetail.receivedAt}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.INSTRUCTION" | translate}}</td>
                        <td>{{courrierDetail.instruction}} </td>
                    </tr>
                    <tr>
                        <td>expediteurDesc</td>
                        <td>{{courrierDetail.expediteurDesc}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.SENT_AT" | translate}}</td>
                        <td>{{courrierDetail.sentAt}} </td>
                    </tr>
                    <tr>
                        <td>destinataireDesc</td>
                        <td>{{courrierDetail.destinataireDesc}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.DESTINATION_CITY" | translate}}</td>
                        <td>{{courrierDetail.destinataireVille}} </td>
                    </tr>
                    <tr>
                        <td>{{"MODELS.OBJECT" | translate}}</td>
                        <td>{{courrierDetail.courrierObjectVo.title}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.TRACK" | translate}}</td>
                        <td>{{courrierDetail.voieVo.libelle}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.NATURE" | translate}}</td>
                        <td>{{courrierDetail.natureCourrierVo.libelle}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.LINKED_TO" | translate}}</td>
                        <td>{{courrierDetail.linkedToVo.idCourrier}} </td>
                    </tr>
                    <tr>
                        <td>{{"MODELS.EXPEDITOR" | translate}}</td>
                        <td>{{courrierDetail.expeditorVo.title}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.DESTINATOR" | translate}}</td>
                        <td>{{courrierDetail.destinatorVo.title}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.COORDINATOR" | translate}}</td>
                        <td>{{courrierDetail.coordinatorVo.title}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.SENDER" | translate}}</td>
                        <td>{{courrierDetail.emetteurVo.title}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.EVALUATION" | translate}}</td>
                        <td>{{courrierDetail.evaluationVo.title}} </td>
                    </tr>

                    <tr>
                        <td>{{"MAILING.SUBDIVISION" | translate}}</td>
                        <td>{{courrierDetail.subdivisionVo.title}} </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.TASKS" | translate}}</td>
                        <td>
                            <ul>
                                <li *ngFor="let p of courrierDetail.tasksVo">

                                    {{p.id}}   {{p.title}}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>{{"MAILING.SERVICES" | translate}}</td>
                        <td>
                            <ul>
                                <li *ngFor="let p of courrierDetail.courrierServiceItemsVo">

                                    {{p.id}}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
