
<div class="cont">

    <div class="input-group mb-2">
        <div class="input-group-prepend" >
            <div class="input-group-text">Current password</div>
        </div>
        <input type="password" class="form-control" [(ngModel)]="userPasswordReset.password" >
    </div>

    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">New password</div>
        </div>
        <input type="password" class="form-control"  [(ngModel)]="userPasswordReset.newPassword"  >
    </div>

    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text">Confirm new Password</div>
        </div>
        <input type="password" class="form-control"  [(ngModel)]="userPasswordReset.confirmPassword" >
    </div>

    <button class="btn btn-outline-secondary float-right" (click)="resetPassword()"> Change password </button>

</div>

