<div class="modal" role="dialog" style="display: block;background-color: #000000bf;" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{"EXPEDITOR.CREATE_EXPEDITOR" | translate}}</h5>
                <button (click)="createExpeditorHide()" aria-label="Close" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card-body from-ctn">

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>{{"MAILING.TITLE" | translate}}</label>
                            <input [(ngModel)]="expeditor.title" class="form-control" type="text">
                        </div>

                        <div class="form-group col-md-4">
                            <label>{{"MAILING_OBJECT.CODE" | translate}}</label>
                            <input [(ngModel)]="expeditor.code" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label>adress</label>
                            <input [(ngModel)]="expeditor.adress" class="form-control" type="text">
                        </div>
                        <!--<div class="row py-2">-->
                        <!--<div class="p-grid ui-fluid">-->
                        <!--<label>createdAt</label>-->
                        <!--<p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)] = "expeditor.createdAt"></p-calendar>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<div class="row py-2">-->
                        <!--<div class="p-grid ui-fluid">-->
                        <!--<label>updatedAt</label>-->
                        <!--<p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)] = "expeditor.updatedAt"></p-calendar>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="form-group col-md-4">
                            <label>{{"MAILING.DESCRIPTION" | translate}}</label>
                            <input [(ngModel)]="expeditor.description" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label>{{"MAILING.NATURE" | translate}}</label>

                        </div>
                        <div class="form-group col-md-4">
                            <label>age</label>
                            <input [(ngModel)]="expeditor.age" class="form-control" type="text">
                        </div>
                        <div class="form-group col-md-4">
                            <label>{{"MAILING_OBJECT.ARAB_TITLE" | translate}}</label>
                            <input [(ngModel)]="expeditor.titleArab" class="form-control" type="text">
                        </div>

                        <div class="form-group col-md-4">
                            <label>{{"MODELS.GENDER" | translate}}</label>
                            <select [(ngModel)]="expeditor.sexeVo.libelle" class="form-control">
                                <option *ngFor="let p of sexes" [ngValue]="p.libelle" value="{{p.libelle}}">
                                    {{p.libelle}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label>{{"MODELS.NATIONALITY" | translate}}</label>
                            <select [(ngModel)]="expeditor.nationalityVo.libelle" class="form-control">
                                <option *ngFor="let p of nationalitys" [ngValue]="p.libelle" value="{{p.libelle}}">
                                    {{p.libelle}}
                                </option>
                            </select>
                        </div>
                        <!--<div class="row" >-->
                        <!--<label>createdBy</label>-->
                        <!--<select class="form-control" [(ngModel)]="expeditor.createdByVo.username" >-->
                        <!--<option *ngFor="let p of createdBys" [ngValue]="p.username" value="{{p.username}}">{{p.username}}</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--<div class="row" >-->
                        <!--<label>updatedBy</label>-->
                        <!--<select class="form-control" [(ngModel)]="expeditor.updatedByVo.username" >-->
                        <!--<option *ngFor="let p of updatedBys" [ngValue]="p.username" value="{{p.username}}">{{p.username}}</option>-->
                        <!--</select>-->
                        <!--</div>-->


                    </div>
                    <div class="modal-footer">
                        <button (click)="saveExpeditor()" class="form-control">{{"COMMONS.SAVE" | translate}}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

