<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create CategorieModelLettreReponse </h5>
        <button type="button" class="close" aria-label="Close" (click)="createHide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="card col-md-12 mx-auto  p-md-2">
    
    <div class="card-body">
        <div class="row">
                    <div class=" col-md-6 p-grid ui-fluid">
                        <label>updatedAt</label>
                        <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)] = "categorieModelLettreReponse.updatedAt"></p-calendar>
                    </div>
                    <div class="col-md-6 p-grid ui-fluid">
                    <label>libelle</label>
                    <input type="text" class="form-control" [(ngModel)] = "categorieModelLettreReponse.libelle">
               </div>
                    <div class="col-md-6 p-grid ui-fluid">
                        <label>createdAt</label>
                        <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)] = "categorieModelLettreReponse.createdAt"></p-calendar>
                    </div>
            <div class="col-md-6"> <label>updatedBy</label>
                <select class="form-control" [(ngModel)]="categorieModelLettreReponse.updatedByVo.username" >
                    <option *ngFor="let p of updatedBys" [ngValue]="p.username" value="{{p.username}}">{{p.username}}</option>
                </select></div>
            <br>
            <div class="col-md-6">
                <label>createdBy</label>
                <select class="form-control" [(ngModel)]="categorieModelLettreReponse.createdByVo.username" >
                <option *ngFor="let p of createdBys" [ngValue]="p.username" value="{{p.username}}">{{p.username}}</option>
            </select></div>

        </div>
        <br><br>
        <div style="text-align: center">
            <button style="width: 60%" class="btn btn-outline-info"  (click)="saveCategorieModelLettreReponse()" >Save</button>
        </div>
    </div>
</div>
       </div>
	   </div>
	   </div>
	   </div>
