<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create ExpeditorType </h5>
        <button type="button" class="close" aria-label="Close" (click)="createHide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<div class="card col-md-12 mx-auto  p-md-2">
    
    <div class="card-body">
        <div class="row">
                <div class="col-md-6 py-2">
                    <div class="p-grid ui-fluid">
                        <label>createdAt</label>
                        <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)] = "expeditorType.createdAt"></p-calendar>
                    </div>
                </div>
                <div class="col-md-6 py-2">
                    <div class="p-grid ui-fluid">
                        <label>updatedAt</label>
                        <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)] = "expeditorType.updatedAt"></p-calendar>
                    </div>
                </div>
                <div class="col-md-6 py-2">
                    <label>libelleArab</label>
                    <input type="text" class="form-control" [(ngModel)] = "expeditorType.libelleArab">
                </div>
                <div class="col-md-6 py-2">
                    <label>code</label>
                    <input type="text" class="form-control" [(ngModel)] = "expeditorType.code">
                </div>
                <div class="col-md-6 py-2">
                    <label>title</label>
                    <input type="text" class="form-control" [(ngModel)] = "expeditorType.title">
                </div>
        </div>
                <div class="row" >
                    <label>createdBy</label>
                    <select class="form-control" [(ngModel)]="expeditorType.createdByVo.username" >
                        <option *ngFor="let p of createdBys" [ngValue]="p.username" value="{{p.username}}">{{p.username}}</option>
                    </select>
                </div>
                <div class="row" >
                    <label>updatedBy</label>
                    <select class="form-control" [(ngModel)]="expeditorType.updatedByVo.username" >
                        <option *ngFor="let p of updatedBys" [ngValue]="p.username" value="{{p.username}}">{{p.username}}</option>
                    </select>
                </div>
        <div class="modal-footer" >
            <button class="form-control" (click)="saveExpeditorType()" >Save</button>
        </div>
    </div>
</div>
       </div>
	   </div>
	   </div>
	   </div>
