<div class="modal" role="dialog" style="display: block;background-color: #000000bf;" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">details of User </h5>
                <button (click)="detailHide()" aria-label="Close" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="alert alert-primary" role="alert">
                    <i class="fa fa-user mr-2"></i>User Info
                </div>

                <table class="table">
                    <tr>
                        <td>{{"USER.USERNAME" | translate}}</td>
                        <td>{{userDetail.username}} </td>
                    </tr>

                    <tr>
                        <td>{{"USER.EMAIL" | translate}}</td>
                        <td>{{userDetail.email}} </td>
                    </tr>
                </table>


                <div class="alert alert-primary" role="alert">
                    <i class="fa fa-lock mr-2"></i> Account confidentiality
                </div>

                <table class="table">

                    <tr>
                        <td>{{"USER.ACCOUNT_NON_EXPIRED" | translate}}</td>
                        <td class="badge badge-pill" [ngClass]="userDetail.accountNonExpired? 'badge-success':'badge-danger'">{{userDetail.accountNonExpired?'Yes':'No'}} </td>
                    </tr>
                    <tr>
                        <td>{{"USER.ACCOUNT_NON_LOCKED" | translate}}</td>
                        <td class="badge badge-pill" [ngClass]="userDetail.accountNonLocked? 'badge-success':'badge-danger'">{{userDetail.accountNonLocked?'Yes':'No'}} </td>
                    </tr>
                    <tr>
                        <td>{{"USER.CREDENTIALS_NON_EXPIRED" | translate}}</td>
                        <td class="badge badge-pill" [ngClass]="userDetail.credentialsNonExpired? 'badge-success':'badge-danger'">{{userDetail.credentialsNonExpired?'Yes':'No'}} </td>
                    </tr>
                    <tr>
                        <td>{{"USER.ENABLED" | translate}}</td>
                        <td class="badge badge-pill" [ngClass]="userDetail.enabled? 'badge-success':'badge-danger'">{{userDetail.enabled?'Yes':'No'}} </td>
                    </tr>
                </table>

                <div class="alert alert-primary" role="alert">
                    <i class="fa fa-cog mr-2"></i> Authorities
                </div>
                <div class="m-2">
                    <span class="badge badge-pill badge-info mr-4" *ngFor="let p of userDetail.rolesVo">{{p.authority}}</span>
                </div>

                <div class="alert alert-primary" role="alert">
                    <i class="fa fa-history mr-2"></i> History
                </div>


                    <table class="table">
                        <tr>
                            <td>Created At</td>
                            <td>{{userDetail.createdAt}}</td>
                        </tr>

                        <tr>
                            <td>Created By</td>
                            <td>{{userDetail.createdByVo?.username}}</td>
                        </tr>

                        <tr>
                            <td>Updated At</td>
                            <td>{{userDetail.updatedAt}}</td>
                        </tr>

                        <tr>
                            <td>Updated By</td>
                            <td>{{userDetail.updatedByVo?.username}}</td>
                        </tr>
                    </table>







            </div>

        </div>
    </div>
</div>
