<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Project</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
                         <li class="nav-item ">
                    <a class="nav-link" routerLink="/status/list" id="navbarOfStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Status
                    </a>
             </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/courrierObject/list" id="navbarOfCourrierObject" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CourrierObject
                    </a>
             </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/evaluation/list" id="navbarOfEvaluation" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Evaluation
                    </a>
             </li>
             <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarOfTask" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Task
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOfTask">
                        <a class="dropdown-item" routerLink="/task/list">List</a>
                        <a class="dropdown-item" routerLink="/task/create">Create</a>
                        <a class="dropdown-item" routerLink="/task/edit">Edit</a>
                    </div>
                </li>
             <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarOfUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOfUser">
                        <a class="dropdown-item" routerLink="/user/list">List</a>
                        <a class="dropdown-item" routerLink="/user/create">Create</a>
                        <a class="dropdown-item" routerLink="/user/edit">Edit</a>
                    </div>
                </li>
             <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarOfNatureCourrier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        NatureCourrier
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOfNatureCourrier">
                        <a class="dropdown-item" routerLink="/natureCourrier/list">List</a>
                        <a class="dropdown-item" routerLink="/natureCourrier/create">Create</a>
                        <a class="dropdown-item" routerLink="/natureCourrier/edit">Edit</a>
                    </div>
                </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/expeditorType/list" id="navbarOfExpeditorType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ExpeditorType
                    </a>
             </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/courrierServiceItem/list" id="navbarOfCourrierServiceItem" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CourrierServiceItem
                    </a>
             </li>
             <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarOfCourrier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courrier
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOfCourrier">
                        <a class="dropdown-item" routerLink="/courrier/list">List</a>
                        <a class="dropdown-item" routerLink="/courrier/create">Create</a>
                        <a class="dropdown-item" routerLink="/courrier/edit">Edit</a>
                    </div>
                </li>
             <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarOfModelLettreReponse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ModelLettreReponse
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOfModelLettreReponse">
                        <a class="dropdown-item" routerLink="/modelLettreReponse/list">List</a>
                        <a class="dropdown-item" routerLink="/modelLettreReponse/create">Create</a>
                        <a class="dropdown-item" routerLink="/modelLettreReponse/edit">Edit</a>
                    </div>
                </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/subdivision/list" id="navbarOfSubdivision" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Subdivision
                    </a>
             </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/nationality/list" id="navbarOfNationality" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Nationality
                    </a>
             </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/typeCourrier/list" id="navbarOfTypeCourrier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        TypeCourrier
                    </a>
             </li>
             <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarOfExpeditor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Expeditor
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarOfExpeditor">
                        <a class="dropdown-item" routerLink="/expeditor/list">List</a>
                        <a class="dropdown-item" routerLink="/expeditor/create">Create</a>
                        <a class="dropdown-item" routerLink="/expeditor/edit">Edit</a>
                    </div>
                </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/role/list" id="navbarOfRole" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Role
                    </a>
             </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/employee/list" id="navbarOfEmployee" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Employee
                    </a>
             </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/categorieModelLettreReponse/list" id="navbarOfCategorieModelLettreReponse" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        CategorieModelLettreReponse
                    </a>
             </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/leService/list" id="navbarOfLeService" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        LeService
                    </a>
             </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/sexe/list" id="navbarOfSexe" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sexe
                    </a>
             </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/bordereau/list" id="navbarOfBordereau" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Bordereau
                    </a>
             </li>
             <li class="nav-item ">
                    <a class="nav-link" routerLink="/voie/list" id="navbarOfVoie" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Voie
                    </a>
             </li>
        </ul>
    </div>
</nav> -->

<div class="wrapper">
    <app-navbar *ngIf="authenticated" [opened]="openBar"  style="background-color: #26272b"
                [sidebarItems]="sidebarItems"></app-navbar>
    <div id="content">
        <nav *ngIf="authenticated" class="navbar navbar-dark  boxShadow">
            <div class="sticky-top my-2 mx-2"> <button class="btn btn-dark btn-circle btn-lg" (click)="buttonClick()"><i class=" fa " [ngClass]="{'fa-bars': openBar==true , ' fa-close': openBar==false}" ></i></button></div>
            <span style="text-align: center;" class="span">
          <!-- <i class="fas fa-school"
              style="font-size: 45px;text-align: center;"></i> -->

          <img
                  routerLink=""
                  src="../assets/images/angular-icon.svg"
                  alt="Login Image"
                  height="40px"
          />
          <br />
          ANGULAR 9.0</span>

            <button  pButton class="btn btn-dark btn-circle btn-lg  float-left  mx-3" (click)="op1.toggle($event)"><i class="fa fa-bell"></i> <span class="badge badge-pill badge-danger" *ngIf="this.badgeNumber>0"> {{this.badgeNumber}}</span> </button>

            <button  pButton class="btn btn-dark btn-circle btn-lg  float-left " (click)="menu.toggle($event)"><i class="fa fa-cog"></i> </button>
            <button class="btn btn-link fa fa-sign-out" (click)="logout()"> Exit</button>
        </nav>


<router-outlet></router-outlet>

</div>
    <p-overlayPanel #op1 [dismissable]="true" [showCloseIcon]="true" >
        <ng-template pTemplate >
            <div  *ngFor="let n of notifications">
                <p> {{n}}</p>
                <hr style="background-color:whitesmoke">
            </div>
            <div>
                <button class="btn btn-dark col-6" (click)="markRead();op1.hide()"><i class="fa fa-check"></i> Mark as read</button>
                <button class="btn btn-dark col-6" (click)="deleteNot();op1.hide()"> <i class="fa fa-trash"></i> Delete notifications</button>
            </div>
        </ng-template>
    </p-overlayPanel>

    <p-menu [showTransitionOptions]="'0ms'" [hideTransitionOptions]="'0ms'" #menu [popup]="true" [model]="settingItems"></p-menu>

</div>