<nav class="nav nav-pills nav-justified bg-dark" style="margin: 10px;color: black;border-radius: 5px">
    <a class="nav-item nav-link " routerLink="/modelLettreReponse/list" routerLinkActive="active"> <i
            class="fa fa-list-ul"></i> List</a>
    <a class="nav-item nav-link" routerLink="/modelLettreReponse/create" routerLinkActive="active">
        <i class="fa fa-plus-square"></i> Create</a>
    <a class="nav-item nav-link" routerLink="/modelLettreReponse/edit" routerLinkActive="active"><i
            class="fa fa-edit"></i> Edit</a>
</nav>
