#buttonDepart {

    position: absolute;
    left: 540px;
    background:   #33ff33;
}

#buttonArrive {

     position: absolute;
     left: 750px;
     background:   #99ff99;
 }

#buttonRES {

    background:    #e6ffe6;
}


