<div class="modal" role="dialog" style="display: block;background-color: #000000bf;" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">details of Nationality </h5>
                <button (click)="detailHide()" aria-label="Close" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <th>Field</th>
                    <th>Value</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>{{nationalityDetail.id}} </td>
                    </tr>
                    <tr>
                        <td>libelle</td>
                        <td>{{nationalityDetail.libelle}} </td>
                    </tr>
                    <tr>
                        <td>createdAt</td>
                        <td>{{nationalityDetail.createdAt}} </td>
                    </tr>
                    <tr>
                        <td>updatedAt</td>
                        <td>{{nationalityDetail.updatedAt}} </td>
                    </tr>
                    <tr>
                        <td>createdBy</td>
                        <td>{{nationalityDetail.createdByVo.username}} </td>
                    </tr>
                    <tr>
                        <td>updatedBy</td>
                        <td>{{nationalityDetail.updatedByVo.username}} </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
