<div class="card col-md-12 mx-auto p-md-2">
    <div class="card-header text-center font-weight-bold">Create Courriers</div>
    <div class="card-body from-ctn">
        <div class="row py-2">

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-primary" (click)="generateId()" type="button">Generate</button>
                </div>
                <input type="text" class="form-control" [(ngModel)]="generatedId"  placeholder="idCourrier xxx-year">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-success" (click)="verifyId()" type="button">Verify</button>
                </div>
            </div>
            <div *ngIf="verifyIdCourier!= '' && verifyIdCourier=='idCourier Correct.'" class="alert alert-success">
                <strong>{{verifyIdCourier}}</strong>
            </div>
            <div *ngIf="verifyIdCourier!= '' && verifyIdCourier!='idCourier Correct.'"  class="alert alert-danger">
                <strong>{{verifyIdCourier}}</strong>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="type-courrier">type</label>
                <p-dropdown styleClass="form-control" selectId="type-courrier" [options]="typeCourriers"
                    [(ngModel)]="courrier.typeCourrierVo" optionLabel="libelle" dataKey="id"></p-dropdown>
            </div>
            <div class="form-group col-md-3">
                <label for="nature-courrier">nature</label>
                <p-dropdown [options]="natureCourriers" styleClass="form-control" selectId="nature-courrier"
                    [(ngModel)]="courrier.natureCourrierVo" optionLabel="libelle" dataKey="id"></p-dropdown>
            </div>
            <div class="form-group col-md-3">
                <label for="voie-courrier">voie</label>
                <p-dropdown styleClass="form-control" selectId="voie-courrier" [options]="voies"
                    [(ngModel)]="courrier.voieVo" optionLabel="libelle" dataKey="id"></p-dropdown>
            </div>
            <div class="form-group col-md-3">
                <label for="status-courrier">status</label>
                <p-dropdown styleClass="form-control" selectId="status-courrier" [options]="statuss"
                    [(ngModel)]="courrier.statusVo" optionLabel="libelle" dataKey="id"></p-dropdown>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="object-courrier">object</label>
                <p-dropdown styleClass="form-control" selectId="object-courrier" [options]="courrierObjects"
                    [(ngModel)]="courrier.courrierObjectVo" [filter]="true" dataKey="id"></p-dropdown>
            </div>
            <div class="form-group col-md-6">
                <label for="linked-courrier">linked</label>
                <p-dropdown styleClass="form-control" selectId="linked-courrier" [options]="linkedTos"
                    [(ngModel)]="courrier.linkedToVo" [filter]="true" dataKey="id"></p-dropdown>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="subject-courrier">subject</label>
                <input type="text" id="subject-courrier" class="form-control" [(ngModel)]="courrier.subject">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="description-courrier">description</label>
                <textarea type="text" id="description-courrier" class="form-control" [(ngModel)]="courrier.description"
                    rows="6"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="instruction-courrier">instruction</label>
                <textarea type="text" id="instruction-courrier" class="form-control" [(ngModel)]="courrier.instruction"
                    rows="6"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">expeditor</h5>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                <p-dropdown styleClass="form-control" [options]="expeditors"
                                    [(ngModel)]="courrier.expeditorVo" [filter]="true" dataKey="id"></p-dropdown>
                                <!-- if depart <label>destinator</label>
                                        <p-dropdown [options]="expeditors" [(ngModel)]="courrier.destinatorVo" [filter]="true" dataKey="id">
                                        </p-dropdown> -->

                            </div>
                            <div class="form-group col-md-2" id="idButton">
                                <button class="btn btn-outline-primary" (click)="showCreateExpeditor()"
                                        type="button">Create</button>
                            </div>
                            <div class="form-group col-md-5">
                                <p-dropdown styleClass="form-control" [options]="expeditorTypes"
                                    [(ngModel)]="courrier.expeditorTypeVo" [filter]="true" dataKey="id"></p-dropdown>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description-expeditor">description</label>
                            <textarea type="text" id="description-expeditor" class="form-control"
                                [(ngModel)]="courrier.destinataireDesc" rows="3"></textarea>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="relance">relance</label>
                                <input type="text" id="relance" class="form-control" [(ngModel)]="courrier.relance">
                            </div>
                            <div class="form-group col-md-8">
                                <label for="daterelance">date relance</label><br>

                                <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)]="courrier.dateRelance">
                                </p-calendar>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="reponse">Reponse</label>
                            <textarea type="text" id="reponse" class="form-control" [(ngModel)]="courrier.reponse"
                                rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">service</h5>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="coordinator">coordinator</label>
                                <p-dropdown styleClass="form-control" selectId="coordinator" [options]="leServices"
                                    [(ngModel)]="courrier.coordinatorVo" [filter]="true" dataKey="id">
                                </p-dropdown>

                            </div>
                            <div class="form-group col-md-6">
                                <label for="emetteur">emetteur</label>
                                <p-dropdown styleClass="form-control" selectId="emetteur" [options]="leServices"
                                    [(ngModel)]="courrier.emetteurVo" dataKey="id" [filter]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="form-row">

                            <div class="form-group col-md-8">
                                <p-dropdown [options]="changedServices" [(ngModel)]="courrierServiceItem.serviceVo"
                                    styleClass="form-control" autoDisplayFirst="true" optionLabel="title"
                                    [filter]="true">
                                </p-dropdown>
                            </div>
                            <div class="form-group col-md-4">
                                <button class="btn btn-primary btn-block" (click)="addCourrierServiceItem()">ajouter
                                    service +</button>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="services-ctn">
                                <label>services</label> <br>
                                <span class="badge badge-primary clickable mr-2" (click)="removeCourrierServiceItem(i)"
                                    *ngFor="let item of courrier.courrierServiceItemsVo;let i = index">
                                    {{item.serviceVo.title}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>sentAt</label><br>
                                <p-calendar dateFormat="yy-mm-dd" [(ngModel)]="courrier.sentAt"></p-calendar>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="destinataireVille">destinataireVille</label>
                                <input type="text" id="destinataireVille" class="form-control"
                                    [(ngModel)]="courrier.destinataireVille">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="accuse">accuse</label>
                                <input type="text" id="accuse" class="form-control" [(ngModel)]="courrier.accuse">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="delai">delai</label>
                                <input type="text" id="delai" class="form-control" [(ngModel)]="courrier.delai">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="evaluation">evaluation</label>
                                <p-dropdown styleClass="form-control" selectId="evaluation" [options]="evaluations"
                                    [(ngModel)]="courrier.evaluationVo" [filter]="true" dataKey="id">
                                </p-dropdown>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="subdivision">subdivision</label>
                                <p-dropdown styleClass="form-control" selectId="subdivision" [options]="subdivisions"
                                    [(ngModel)]="courrier.subdivisionVo" [filter]="true" dataKey="id">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Ajouter Tache</h5>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="task-title">title</label>
                                <input type="text" id="task-title" class="form-control" [(ngModel)]="task.title">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-7">
                                <label for="task-assigne">assigne to</label>
                                <p-dropdown styleClass="form-control" selectId="task-assigne" [options]="users"
                                    [(ngModel)]="task.assigneVo" [showClear]="true" optionLabel="username"
                                    [filter]="true" dataKey="id"></p-dropdown>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="task-status">status</label>
                                <p-dropdown styleClass="form-control" selectId="task-status" [options]="statuss"
                                    [(ngModel)]="task.statusVo" optionLabel="libelle" dataKey="id"></p-dropdown>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="task-description">description</label>
                                <textarea type="text" id="task-description" class="form-control"
                                    [(ngModel)]="task.description" rows="3"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="task-observation">observation</label>
                                <textarea type="text" id="task-observation" class="form-control"
                                    [(ngModel)]="task.observation" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <button class="btn btn-primary btn-block" (click)="addTask()">ajouter</button>
                        </div>

                        <!-- 
                        <div class="col-md-6 py-2">
                            <div class="p-grid ui-fluid">
                                <label>dateAccuse</label>
                                <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)]="task.dateAccuse">
                                </p-calendar>
                            </div>
                        </div>
                        <div class="col-md-6 py-2">
                            <div class="p-grid ui-fluid">
                                <label>dateReponse</label>
                                <p-calendar class="p-col-12" dateFormat="yy-mm-dd" [(ngModel)]="task.dateReponse">
                                </p-calendar>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-6 py-2"><label>delai</label>
                            <input type="text" class="form-control" [(ngModel)]="task.delai">
                        </div>
                        <div class="col-md-6 py-2"><label>relance</label>
                            <input type="text" class="form-control" [(ngModel)]="task.relance">
                        </div>
                        <div class="col-md-6 py-2"><label>accuse</label>
                            <input type="text" class="form-control" [(ngModel)]="task.accuse">
                        </div>
                        <div class="col-md-6 py-2"><label>reponse</label>
                            <input type="text" class="form-control" [(ngModel)]="task.reponse">
                        </div> -->


                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" style="text-align: center;">Les Taches</h5>
                        <div class="list-group">
                            <div *ngFor="let p of courrier.tasksVo;let i = index" (click)="editTask(p)" class="list-group-item list-group-item-action d-flex justify-content-between">
                             <span>{{p.title}}</span>
                             <span class="badge badge-success">{{p.statusVo.libelle}}</span>
                            </div>
                   
                           </div>
                    </div>
                </div>
            </div>
        </div>
       
            <button class="form-control mt-2" (click)="saveCourrier()">Save Courrier</button>
    </div>
</div>

<div *ngIf="showEditTask" class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit task</h5>
          <button type="button" class="close" aria-label="Close" (click)="editTaskHide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
                    <div class="form-row">
                        <div class="form-group col-12">
                            <label for="task-title">title</label>
                            <input type="text" id="task-title" class="form-control" [(ngModel)]="editableTask.title">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-7">
                            <label for="task-assigne">assigne to</label>
                            <p-dropdown styleClass="form-control" selectId="task-assigne" [options]="users"
                                [(ngModel)]="editableTask.assigneVo" [showClear]="true" optionLabel="username"
                                [filter]="true" dataKey="id"></p-dropdown>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="task-status">status</label>
                            <p-dropdown styleClass="form-control" selectId="task-status" [options]="statuss"
                                [(ngModel)]="editableTask.statusVo" optionLabel="libelle" dataKey="id"></p-dropdown>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="task-description">description</label>
                            <textarea type="text" id="task-description" class="form-control"
                                [(ngModel)]="editableTask.description" rows="3"></textarea>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="task-observation">observation</label>
                            <textarea type="text" id="task-observation" class="form-control"
                                [(ngModel)]="editableTask.observation" rows="3"></textarea>
                        </div>
                    </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="editTaskHide()">
                close
            </button>
    
            <button class="btn btn-danger" (click)="deleteTask()">
               Delete
            </button>
        </div>
      </div>
    </div>
  </div>
<app-createExpeditor *ngIf="createExpeditorShow"></app-createExpeditor>
