<div class="container">
    <div class="row">
        <div id="accordion" class="col-12 my-3">
            <div class="card">
                <div class="card-header border-0 bg-white" id="headingSearch">

                    <button class="btn btn-info  btn-sm fa fa-filter" data-toggle="collapse" data-target="#search"
                            aria-expanded="true" aria-controls="search">
                        <h5 class="float-right">Search Forms</h5>
                    </button>

                </div>

                <div id="search" class="collapse" aria-labelledby="headingSearch" data-parent="#accordion">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="form-row">


                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">libelle</small>
                                        <input type="text" class="form-control col-12" placeholder="libelle"
                                               [(ngModel)]="typeCourrierSearch.libelle">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">libelleArab</small>
                                        <input type="text" class="form-control col-12" placeholder="libelleArab"
                                               [(ngModel)]="typeCourrierSearch.libelleArab">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">code</small>
                                        <input type="text" class="form-control col-12" placeholder="code"
                                               [(ngModel)]="typeCourrierSearch.code">
                                    </div>
                                    <td><span class="badge badge-pill p-2"
                                              [ngStyle]="{'background-color':typeCourrierSearch.color}"><i
                                            class="fa fa-paint-brush" style="color: wheat;"></i> </span></td>
                                </div>
                            </div>
                            <button class="btn btn-info btn-sm fa fa-search float-right px-5 py-2 my-4"
                                    (click)="findTypeCourrier(typeCourrierSearch)"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12">
            <div class="card-header bg-transparent">
                <div class="float-left px-1"><h5>List of typeCourriers. </h5></div>

                <button class="btn btn-success btn-sm fa fa-plus float-right" (click)="createShow()"> Create a new
                    typeCourrier
                </button>

            </div>
            <div class="card-body table-responsive">

                <table class="table table-hover col-md-12">
                    <thead class="thead-dark">

                    <th>libelle</th>
                    <th>libelleArab</th>
                    <th>code</th>
                    <th>color</th>

                    <th>Actions</th>

                    </thead>
                    <tbody>
                    <tr *ngFor="let p of typeCourrierListe">

                        <td>{{p.libelle}}</td>
                        <td>{{p.libelleArab}}</td>
                        <td>{{p.code}}</td>
                        <td><span class="badge badge-pill p-2" [ngStyle]="{'background-color':p.color}"><i
                                class="fa fa-paint-brush" style="color: wheat;"></i> </span></td>


                        <td>
                            <button class="btn btn-danger btn-sm fa fa-trash mx-md-1" (click)="delete(p)"></button>
                            <button class="btn btn-danger btn-sm fa fa-trash mx-md-1" (click)="delete(p)"></button>
                            <button class="btn btn-warning btn-sm fa fa-external-link mx-md-1"
                                    (click)="detailShow(p)"></button>
                            <button class="btn btn-info btn-sm fa fa-pencil mx-md-1" (click)="editShow(p)"></button>


                        </td>

                    </tr>
                    <app-typeCourrier-edit *ngIf="typeCourrierShowEdit"></app-typeCourrier-edit>
                    <app-typeCourrier-create *ngIf="typeCourrierShowCreate"></app-typeCourrier-create>
                    <app-typeCourrier-details *ngIf="typeCourrierShowDetail"></app-typeCourrier-details>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
