<app-task></app-task>
<div class="card col-md-8 mx-auto  p-md-2">
    <div class="card-header text-center font-weight-bold">Edit Tasks</div>
    <div class="card-body">
        <div class="row my-1 ">
            <label>Available Tasks</label>
            <select (click)="findBytitle(task.title)" [(ngModel)]="task.title" class="form-control">
                <option *ngFor="let p of editableTasks" [ngValue]="p.title" value="{{p.title}}">{{p.title}}</option>
            </select>
        </div>

        <div class="row py-2">
            <label>createdAt</label>
            <input [(ngModel)]="task.createdAt" class="col-md-12" type="date">
        </div>
        <div class="row py-2">
            <label>updatedAt</label>
            <input [(ngModel)]="task.updatedAt" class="col-md-12" type="date">
        </div>
        <div class="row py-2">
            <label>assignedAt</label>
            <input [(ngModel)]="task.assignedAt" class="col-md-12" type="date">
        </div>
        <div class="row py-2">
            <label>dateAccuse</label>
            <input [(ngModel)]="task.dateAccuse" class="col-md-12" type="date">
        </div>
        <div class="row py-2">
            <label>dateReponse</label>
            <input [(ngModel)]="task.dateReponse" class="col-md-12" type="date">
        </div>
        <div class="row py-2">
            <label>processedAt</label>
            <input [(ngModel)]="task.processedAt" class="col-md-12" type="date">
        </div>
        <div class="row py-2">
            <label>delai</label>
            <input [(ngModel)]="task.delai" [placeholder]="task.delai" class="form-control" type="text">
        </div>
        <div class="row py-2">
            <label>relance</label>
            <input [(ngModel)]="task.relance" [placeholder]="task.relance" class="form-control" type="text">
        </div>
        <div class="row py-2">
            <label>accuse</label>
            <input [(ngModel)]="task.accuse" [placeholder]="task.accuse" class="form-control" type="text">
        </div>
        <div class="row py-2">
            <label>reponse</label>
            <input [(ngModel)]="task.reponse" [placeholder]="task.reponse" class="form-control" type="text">
        </div>
        <div class="row py-2">
            <label>title</label>
            <input [(ngModel)]="task.title" [placeholder]="task.title" class="form-control" type="text">
        </div>
        <div class="row py-2">
            <label>description</label>
            <input [(ngModel)]="task.description" [placeholder]="task.description" class="form-control" type="text">
        </div>
        <div class="row py-2">
            <label>observation</label>
            <input [(ngModel)]="task.observation" [placeholder]="task.observation" class="form-control" type="text">
        </div>

        <div class="row m-md-2 p-md-1">
            <label>updatedBy</label>
            <select [(ngModel)]="task.updatedByVo.username" class="form-control">
                <option *ngFor="let p of updatedBys" [ngValue]="p.username"
                        value="{{p.username}}">{{p.username}}</option>
            </select>
        </div>
        <div class="row m-md-2 p-md-1">
            <label>courrier</label>
            <select [(ngModel)]="task.courrierVo.idCourrier" class="form-control">
                <option *ngFor="let p of courriers" [ngValue]="p.idCourrier"
                        value="{{p.idCourrier}}">{{p.idCourrier}}</option>
            </select>
        </div>
        <div class="row m-md-2 p-md-1">
            <label>assigne</label>
            <select [(ngModel)]="task.assigneVo.username" class="form-control">
                <option *ngFor="let p of assignes" [ngValue]="p.username" value="{{p.username}}">{{p.username}}</option>
            </select>
        </div>
        <div class="row m-md-2 p-md-1">
            <label>createdBy</label>
            <select [(ngModel)]="task.createdByVo.username" class="form-control">
                <option *ngFor="let p of createdBys" [ngValue]="p.username"
                        value="{{p.username}}">{{p.username}}</option>
            </select>
        </div>
        <div class="row m-md-2 p-md-1">
            <label>status</label>
            <select [(ngModel)]="task.statusVo.libelle" class="form-control">
                <option *ngFor="let p of statuss" [ngValue]="p.libelle" value="{{p.libelle}}">{{p.libelle}}</option>
            </select>
        </div>
        <div class="card-footer">
            <button (click)="editTask()" class="form-control">Edit</button>
        </div>
    </div>
</div>
