<div class="modal" tabindex="-1" role="dialog" style="display: block;background-color: #000000bf;">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">details of Status </h5>
        <button type="button" class="close" aria-label="Close" (click)="detailHide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead class="thead-dark">
            <th>Field</th>
            <th>Value</th>
          </thead>
          <tbody>
           <tr >
             <td>id</td>
             <td>{{statusDetail.id}} </td>
           </tr>
           <tr >
             <td>libelle</td>
             <td>{{statusDetail.libelle}} </td>
           </tr>
           <tr >
             <td>libelleArab</td>
             <td>{{statusDetail.libelleArab}} </td>
           </tr>
           <tr >
             <td>code</td>
             <td>{{statusDetail.code}} </td>
           </tr>
           <tr >
             <td>createdAt</td>
             <td>{{statusDetail.createdAt}} </td>
           </tr>
           <tr >
             <td>updatedAt</td>
             <td>{{statusDetail.updatedAt}} </td>
           </tr>
           <tr >
             <td>createdBy</td>
           <td>{{statusDetail.createdByVo.username}} </td>
           </tr>
           <tr >
             <td>updatedBy</td>
           <td>{{statusDetail.updatedByVo.username}} </td>
           </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
