<div class="container">
    <div class="row">
        <div class="col-12 my-3" id="accordion">
            <div class="card">
                <div class="card-header border-0 bg-white" id="headingSearch">

                    <button aria-controls="search" aria-expanded="true" class="btn btn-info  btn-sm fa fa-filter"
                            data-target="#search" data-toggle="collapse">
                        <h5 class="float-right">{{"COMMONS.SEARCH" | translate}}</h5>
                    </button>

                </div>

                <div aria-labelledby="headingSearch" class="collapse" data-parent="#accordion" id="search">
                    <div class="card-body">
                        <div class="container">
                            <div class="row">
                                <div class="form-row">

                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">{{"MAILING_OBJECT.ID" | translate}}</small>
                                        <input [(ngModel)]="courrierObjectSearch.id" class="form-control col-12"
                                               placeholder="{{'MAILING_OBJECT.ID' | translate}}"
                                               type="text">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">{{"MAILING_OBJECT.TITLE" | translate}}</small>
                                        <input [(ngModel)]="courrierObjectSearch.title" class="form-control col-12"
                                               placeholder="{{'MAILING_OBJECT.TITLE' | translate}}"
                                               type="text">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">{{"MAILING_OBJECT.ARAB_TITLE" | translate}}</small>
                                        <input [(ngModel)]="courrierObjectSearch.titleArab" class="form-control col-12"
                                               placeholder="{{'MAILING_OBJECT.ARAB_TITLE' | translate}}"
                                               type="text">
                                    </div>
                                    <div class="input-group  col-3  my-2">
                                        <small class="text-muted col-12">{{"MAILING_OBJECT.CODE" | translate}}</small>
                                        <input [(ngModel)]="courrierObjectSearch.code" class="form-control col-12"
                                               placeholder="{{'MAILING_OBJECT.ARAB_TITLE' | translate}}"
                                               type="text">
                                    </div>
                                    <div class="input-group  col-4  my-2">
                                        <div class="col-5 mx-1 px-1">
                                            <div class="p-grid ui-fluid">
                                                <small class="text-muted">{{"COMMONS.CREATED_AT_MIN" | translate}}</small>
                                                <p-calendar [(ngModel)]="courrierObjectSearch.createdAtMin"
                                                            class="p-col-12"
                                                            dateFormat="yy-mm-dd"></p-calendar>
                                            </div>
                                        </div>
                                        <div class="col-5 mx-1 px-1">
                                            <div class="p-grid ui-fluid">
                                                <small class="text-muted">{{"COMMONS.CREATED_AT_MAX" | translate}}</small>
                                                <p-calendar [(ngModel)]="courrierObjectSearch.createdAtMax"
                                                            class="p-col-12"
                                                            dateFormat="yy-mm-dd"></p-calendar>
                                            </div>
                                        </div>

                                    </div>
                                    <!--                                    <div class="input-group  col-4  my-2">-->
                                    <!--                                        <div class="col-5 mx-1 px-1">-->
                                    <!--                                            <div class="p-grid ui-fluid">-->
                                    <!--                                                <small class="text-muted">updatedAt Min</small>-->
                                    <!--                                                <p-calendar [(ngModel)]="courrierObjectSearch.updatedAtMin" class="p-col-12"-->
                                    <!--                                                            dateFormat="yy-mm-dd"></p-calendar>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="col-5 mx-1 px-1">-->
                                    <!--                                            <div class="p-grid ui-fluid">-->
                                    <!--                                                <small class="text-muted">updatedAt Max</small>-->
                                    <!--                                                <p-calendar [(ngModel)]="courrierObjectSearch.updatedAtMax" class="p-col-12"-->
                                    <!--                                                            dateFormat="yy-mm-dd"></p-calendar>-->
                                    <!--                                            </div>-->
                                    <!--                                        </div>-->

                                    <!--                                    </div>-->
                                    <!--                                    <div class="input-group  col-4 my-2">-->
                                    <!--                                        <small class="text-muted col-12">createdBy</small>-->
                                    <!--                                        <select [(ngModel)]="courrierObjectSearch.createdByVo"-->
                                    <!--                                                class="form-control col-12">-->
                                    <!--                                            <option *ngFor="let p of createdBys" [ngValue]="p">{{p.username}}</option>-->
                                    <!--                                        </select>-->
                                    <!--                                    </div>-->
                                    <!--                                    <div class="input-group  col-4 my-2">-->
                                    <!--                                        <small class="text-muted col-12">updatedBy</small>-->
                                    <!--                                        <select [(ngModel)]="courrierObjectSearch.updatedByVo"-->
                                    <!--                                                class="form-control col-12">-->
                                    <!--                                            <option *ngFor="let p of updatedBys" [ngValue]="p">{{p.username}}</option>-->
                                    <!--                                        </select>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                            <button (click)="findCourrierObject(courrierObjectSearch)"
                                    class="btn btn-info btn-sm fa fa-search float-right px-5 py-2 my-4"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-12">
            <div class="card-header bg-transparent">
                <div class="float-left px-1"><h5>{{"MAILING_OBJECT.OBJECT_LIST" | translate}}</h5></div>

                <button (click)="createShow()"
                        class="btn btn-success btn-sm fa fa-plus float-right">{{"MAILING_OBJECT.CREATE_OBJECT" | translate}}
                </button>

            </div>
            <div class="card-body table-responsive">

                <table class="table table-hover col-md-12">
                    <thead class="thead-dark">

                    <th>{{"MAILING_OBJECT.ID" | translate}}</th>
                    <th>{{"MAILING_OBJECT.TITLE" | translate}}</th>
                    <th>{{"MAILING_OBJECT.ARAB_TITLE" | translate}}</th>
                    <th>{{"MAILING_OBJECT.CODE" | translate}}</th>
                    <!--                    <th>createdAt</th>-->
                    <!--                    <th>updatedAt</th>-->
                    <!--                    <th>createdBy reference</th>-->
                    <!--                    <th>updatedBy reference</th>-->
                    <th>{{"COMMONS.ACTIONS" | translate}}</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let p of courrierObjectListe">

                        <td>{{p.id}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.titleArab}}</td>
                        <td>{{p.code}}</td>
                        <!--                        <td>{{p.createdAt}}</td>-->
                        <!--                        <td>{{p.updatedAt}}</td>-->
                        <!--                        <td>{{p.createdByVo?.username}}</td>-->
                        <!--                        <td>{{p.updatedByVo?.username}}</td>-->


                        <td>
                            <button (click)="delete(p)" class="btn btn-danger btn-sm fa fa-trash mx-md-1"></button>
                            <button (click)="detailShow(p)"
                                    class="btn btn-warning btn-sm fa fa-external-link mx-md-1"></button>
                            <button (click)="editShow(p)" class="btn btn-info btn-sm fa fa-pencil mx-md-1"></button>


                        </td>

                    </tr>
                    <app-courrierObject-edit *ngIf="courrierObjectShowEdit"></app-courrierObject-edit>
                    <app-courrierObject-create *ngIf="courrierObjectShowCreate"></app-courrierObject-create>
                    <app-courrierObject-details *ngIf="courrierObjectShowDetail"></app-courrierObject-details>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
