<div class="modal" role="dialog" style="display: block;background-color: #000000bf;" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">edit Status </h5>
                <button (click)="editHide()" aria-label="Close" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card col-md-12 mx-auto  p-md-2">

                    <div class="card-body">
                        <div class="row">
<!--                            <div class="col-md-6 py-2">-->
<!--                                <label>createdAt</label>-->
<!--                                <input [(ngModel)]="status.createdAt" class="col-md-12" type="date">-->
<!--                            </div>-->
<!--                            <div class="col-md-6 py-2">-->
<!--                                <label>updatedAt</label>-->
<!--                                <input [(ngModel)]="status.updatedAt" class="col-md-12" type="date">-->
<!--                            </div>-->
                            <div class="col-md-6 py-2">
                                <label>libelleArab</label>
                                <input [(ngModel)]="status.libelleArab" [placeholder]="status.libelleArab" class="form-control"
                                       type="text">
                            </div>
                            <div class="col-md-6 py-2">
                                <label>code</label>
                                <input [(ngModel)]="status.code" [placeholder]="status.code" class="form-control"
                                       type="text">
                            </div>
                            <div class="col-md-6 py-2">
                                <label>libelle</label>
                                <input [(ngModel)]="status.libelle" [placeholder]="status.libelle" class="form-control"
                                       type="text">
                            </div>
                            <div class="col-md-6 py-2">
                                <label>color</label>
                                <input [(ngModel)]="status.color" class="form-control" type="color">
                            </div>
                        </div>
<!--                        <div class="row m-md-2 p-md-1">-->
<!--                            <label>createdBy</label>-->
<!--                            <select [(ngModel)]="status.createdByVo.username" class="form-control">-->
<!--                                <option *ngFor="let p of createdBys" [ngValue]="p.username"-->
<!--                                        value="{{p.username}}">{{p.username}}</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="row m-md-2 p-md-1">-->
<!--                            <label>updatedBy</label>-->
<!--                            <select [(ngModel)]="status.updatedByVo.username" class="form-control">-->
<!--                                <option *ngFor="let p of updatedBys" [ngValue]="p.username"-->
<!--                                        value="{{p.username}}">{{p.username}}</option>-->
<!--                            </select>-->
<!--                        </div>-->
                        <div class="card-footer">
                            <button (click)="editStatus()" class="form-control">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
